body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    background: rgb(248, 239, 234);
}

input,
textarea,
button {
    appearance: none;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

 
.photo-column {
    flex: 1;
    max-width: 40%;
    background: url(https://picsum.photos/id/436/800) 0 0 / cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    text-align: center;
    padding-bottom: 8px;
}

.form-column {
    flex: 1;
}

.logo-container {
    background: rgba(29, 29, 29, 0.4);
    padding: 20px;
    margin-top: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

a {
    color: white;
}

.material-icons.md-48 { 
    font-size: 48px; 
}

.italic {
    font-style: italic;
}

button {
    background-color: #b14e55;
    color: whitesmoke;
    border-radius: 8px;
    padding: 8px 20px;
    cursor: pointer;
    box-shadow: 4px 4px 5px #b3b2b2;
    border: none;
}

button:hover {
    background-color: #c46066;
}