body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    background: rgb(248, 239, 234);
}

input,
textarea,
button {
    appearance: none;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

 
.photo-column {
    flex: 1;
    max-width: 30%;
    background: url(https://picsum.photos/id/436/800) 0 0 / cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    text-align: center;
    padding-bottom: 8px;
}

.form-column {
    flex: 1;
}

.logo-container {
    background: rgba(29, 29, 29, 0.4);
    padding: 20px;
    margin-top: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

a {
    color: white;
}

.material-icons.md-48 { 
    font-size: 48px; 
}

.italic {
    font-style: italic;
}

button {
    background-color: #b14e55;
    color: whitesmoke;
    font-weight: 600;
    border-radius: 8px;
    padding: 1em 1.4em;
    cursor: pointer;
    box-shadow: 0 0 10px #b3b2b2;
    border: none;
    width: 200px;
}

button:hover {
    background-color: #c46066;
}

span a {
    text-decoration: none;
    color:#b14e55;
    font-weight: 600;
}

span a:hover {
    text-decoration: underline;
}

.form-column {
    display: flex;
    flex-direction: column;
}

.form {
    background: white;
    padding: 2rem;
}

.header {
    padding: 2rem;
    max-width: 70%;
    font-size: 1.2rem;
    margin-top: 5%;
}

.below-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 1rem;
    padding: 2rem;
}