body {
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 100vh;
    background: rgb(248, 239, 234);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
}

input,
textarea,
button {
    appearance: none;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.photo-credit {
    background: rgba(147, 167, 164, 0.6);
}

 
.photo-column {
    flex: 1;
    max-width: 30%;
    min-width: 250px;
    background: url(https://picsum.photos/id/436/800) 0 0 / cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    text-align: center;
}

.form-column {
    flex: 1;
}

.logo-container {
    background: rgba(29, 29, 29, 0.4);
    padding: 0.2em;
    margin-top: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-family: "Noto Sans", sans-serif;
    font-size: 3em;
}

a {
    color: white;
}

.material-icons.md-48 { 
    font-size: 1.8em;
}

.italic {
    font-style: italic;
}

button {
    background-color: rgb(177, 78, 85);
    color: whitesmoke;
    font-weight: 600;
    border-radius: 8px;
    padding: 1em 1.4em;
    cursor: pointer;
    box-shadow: rgba(177, 78, 85, 0.30) 0px 4px 8px, rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: none;
    width: 200px;
}

button:hover {
    background-color: #c46066;
}

span a {
    text-decoration: none;
    color:#b14e55;
    font-weight: 600;
}

span a:hover {
    text-decoration: underline;
}

.form-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form {
    background: white;
    padding: 1rem;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.inputs {
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    column-gap: 100px;
}

.header {
    padding: 3rem;
    padding-left: 2rem;
    font-size: 1.5em;
    font-weight: 600;
    color: rgb(0, 0, 0);
    max-width: 53ch;
}

.below-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 0.5rem;
    padding: 2rem;
}

div[class="inputs"] > p > label {
    text-transform: uppercase;
    font-size: 0.75em;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(80, 79, 79);
    letter-spacing: 1px;
}

div[class="inputs"] > p {
    display: flex;
    flex-direction: column;
}

input {
    border-radius: 6px;
    padding: 8px;
    border: 1px solid #E5E7EB;
    outline: none;
    min-width: 200px;
    font-size: 1rem;
}

input:focus {
    border: 1px solid royalblue;
    box-shadow: hsl(225, 30%, 57%) 0px 4px 6px;
}

div[class="form"] > p {
    font-size: 1.5em;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.8);
}

input#pwd + span {
    position: relative;
}

input#pwd.error + span::after {
    content: "* Passwords do not match";
    color: rgb(189, 6, 6);
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0.75em;
}

input[class*="error"], input[class*="error"]:focus {
    border: 1px solid red;
}

input[class*="error"]:focus {
    box-shadow: hsl(14, 77%, 66%) 0px 4px 6px;
}